<li>
	{{name}}

	<button class="change-devour" data-id="{{id}}" data-newsdevour="{{devour}}">
		{{#if devour}}THESE WERE GOOD!{{else}}HOT AND READY!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE</button>
</li>
